/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.link2  {
    /*color: inherit;
    text-decoration: none;*/
    color: #337ab7;
    transition: all 0.3s;
}

.categories {
    font-weight: 700;
    /* font-size: 1.3em; */
}

.navbar {
    padding: 15px 10px;
    /* background: #e9ecf7; */
    background: #495eaf;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
    box-shadow: 7px 9px 11px 2px rgba(114, 135, 215, 0.68);
}

.navbar-heading {
    text-align: center;
    font-weight: 500;
    color: #fafafa;
}

.navbar-backgroundimg {
    background-image: url(navbarImg.png);
    border-radius: 5px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    /*margin: 40px 0;*/
}

i, span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    /*align-items: stretch;*/
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    position: fixed;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content {
    width: calc(100% - 250px);
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/***********************************
Course
************************************/
[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    background-color: #7386D5;
    padding: 10px
}
[class*=" imghvr-"], [class^="imghvr-"] {
    background-color: unset;
    color: #fff;
    overflow: initial; 
    
}

figcaption {
    font-size: 90%;
    white-space: normal;
}

figcaption p {
    color: #fff;
}

.overview-fontsize {
    font-size: 16px;
}

.card-padding {
    padding-bottom: 4%;
}
.card-title-adjust {    
    text-align: center;
    padding-bottom: 1px;
}

.card-title {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    /* border-style: outset; */
}
.prepro-color { 
    background-color: #eaeaea; 
    border-color: #eaeaea; 
}

.bulk-color { 
    background-color: #e9ecf7; 
    border-color: #e9ecf7; 
}

.single-color { 
    background-color: #e9f7f5; 
    border-color: #e9f7f5;
}

.other-color { 
    background-color: #efe9f7;
    border-color: #efe9f7;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* max-width: 960px; */
    margin: 0 auto;
    /* padding: 50px 20px 0; */
  }
  
  .card__item {
    /* width: 40%; */
    margin: 1% 0px;
  }
  
  .card__item-title {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    /* font-size: 20px; */
    /* letter-spacing: 1px; */
  }
  
  .atvImg {
    border-radius: 5px;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    /* height: 350px; */
    display: inline-block;
    transform: rotateX(0deg) rotateY(-15deg) scale3d(1,1,1);
    -webkit-transform: perspective(100px) rotateY(-2deg);
  }
  .atvImg img {
    border-radius: 5px;
    box-shadow: 7px 9px 11px 2px rgb(114, 135, 215);
    max-width: 90%;
  }
  
  .atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.2s ease-out;
  }
  .atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(46, 66, 146, 0.4), 0 16px 40px rgba(46, 66, 146, 0.4);
  }
  
  .atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    transform-style: preserve-3d;
  }
  
  .atvImg-rendered-layer {
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
  }
  
  .atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    box-shadow: 0 20px 100px rgba(46, 66, 146, 0.6);
  }
  
  .atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
  }

  .colPad {
      padding: 5px;
      border-radius: 5px;
      margin-top: 2%;
      margin-bottom: 2%;
  }

  .title-color {
      color: #6d7fcc
  }

.abv-color {
    color: #ffafaf;
}

.container6 {
    display: grid;
    place-items: center;
    width: 60%;
}
  div.container6 p {
    margin: 0 
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .fixbtnlink {
    position: unset !important;
  }

  .navbar-subheading {
    text-align: center;
    font-weight: 300;
    color: #fafafa;
}